<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ('partials/head.html')%>
</head>
</style>

<body>

    <%-include ('partials/navigation.html')%>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/pews-logo.png" alt="Logo" class="animated bounce">
            </div>
        </header>
    </div>
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-linkedin-in fa-10x"></i>

            </div>
            <div class="col-sm-6">
                <h3>Sergio's web page</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias beatae, obcaecati
                    perferendis explicabo quam commodi tempore hic earum est quaerat voluptate in? Veritatis et dolores
                    ad, exercitationem repellat saepe.</p>

            </div>
        </div>

    </div>
    <%-include ('partials/footer.html')%>

</body>

</html>